// typography - fonts
$font: "Raleway", sans-serif;

// tupography - weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// colors - names (http://chir.ag/projects/name-that-color/)
$body-color: #212121;
$header: #2a2a2a;
$jobs: #212121;

$white: #fff;
$caribbean-green: #00e8aa;
$mine-shaft: #282828;
$concrete: #f2f2f2;
$gray: #8c8c8c;
$dove-medium: #646464;
$gray-dark: #1a1d23;
$yellow: #dcb239;
$blue: #0696dc;
$terra: #df744a;
$chilli: #af473c;
$rust: #b56357;
$ochre: #c06014;
$pastel: #eddbcd;

// others
$radius: 2px;
$circle: 100%;
